:root {
  --block-size: 2rem;
  --color-success: #39aa56;
  --color-failure: #db4545;
  --background-success: #deecdc;
  --background-failure: #fce8e2;
  --color-in-progress: #4491af;
  --background-in-progress: lightblue;
  --color-cancelled: #666;
  --background-cancelled: #eee;
}
:root.inhibit-transitions * {
  transition: none !important;
}

body {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
}

nav[aria-label="repo-list"] ul {
  margin-top: 0;
  padding-left: 0;
}
nav[aria-label="repo-list"] ul li {
  display: inline-block;
  list-style: none;
}
nav[aria-label="repo-list"] ul li:not(:last-of-type) {
  padding-right: 1rem;
}

nav[aria-labelledby="layout-toggle"] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

:root[data-time-relative] a[href="?time-relative"],
:root:not([data-time-relative]) a[href="?"]
{
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

.generated-at {
  font-size: small;
}

h2 > a:first-child {
  color: inherit;
  text-decoration: none;
}

h2 > a[href^="#"] {
  font-size: small;
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
}
h3 > a:first-child {
  color: inherit;
  text-decoration: none;
}
h3 > span {
  font-size: small;
  font-weight: normal;
  white-space: nowrap;
}

ol {
  display: grid;
  grid-template-columns: repeat(1000, var(--block-size));
  margin-top: 0.25rem;
  padding-left: 0;

  position: relative;
  height: var(--block-size);
  transition:
    height 0.5s ease-in-out;
}
ol > li {
  display: block;
  width: var(--block-size);
  height: var(--block-size);
  background: #eee;

  position: relative;
  left: 0;
  top: 0;
  transition:
    left 0.5s ease-in-out,
    top 0.5s ease-in-out;
}
:root[data-time-relative] ol {
  position: relative;
  height: calc(var(--block-size) * (1 + var(--data-max-run-of-the-day, 0)));
}
:root[data-time-relative] ol > li {
  position: relative;
  left: calc(var(--block-size) * var(--data-days-ago, 0) + var(--data-offset-left, 0));
  top: calc((var(--block-size) + 1px) * var(--data-run-of-the-day, 0));
}
ol > li.success {
  background: var(--background-success);
}
ol > li.failure {
  background: var(--background-failure);
}
ol > li.in-progress {
  background: var(--background-in-progress);
}
ol > li.cancelled {
  background: var(--background-cancelled);
}
ol > li > details > summary {
  /* Remove default triangle bullet, per spec.
   * <https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary#default_style>
   */
  list-style: none;

  /* Fill containing <li> */
  display: block;
  width: var(--block-size);
  height: var(--block-size);

  /* Center text horizontally and vertically */
  text-align: center;
  line-height: var(--block-size);

  /* Indicate clickability */
  cursor: pointer;

  /* Border for later */
  box-sizing: border-box;
  border: 1px solid transparent;
  border-right: 1px solid white;
}
ol > li > details > summary::-webkit-details-marker {
  /* Remove default triangle bullet on Apple WebKit (Safari on macOS or any
   * browser on iOS)
   */
  display: none;
}
ol > li.success > details > summary {
  color: var(--color-success);
}
ol > li.failure > details > summary {
  color: var(--color-failure);
}
ol > li.in-progress > details > summary {
  color: var(--color-in-progress);
  font-weight: bold;
}
ol > li.cancelled > details > summary {
  color: var(--color-cancelled);
}
ol > li > details[open] > summary {
  position: relative;
  z-index: 2;

  border: 1px solid black;
}
ol > li.success > details[open] > summary {
  border-bottom: 1px solid var(--background-success);
}
ol > li.failure > details[open] > summary {
  border-bottom: 1px solid var(--background-failure);
}
ol > li.in-progress > details[open] > summary {
  border-bottom: 1px solid var(--background-in-progress);
}
ol > li.cancelled > details[open] > summary {
  border-bottom: 1px solid var(--background-cancelled);
}
ol > li > details > div {
  position: relative;
  z-index: 1;
  top: -1px;

  width: max-content;
  border: 1px solid black;
  background: #eee;
  box-shadow:
     2px 2px black,
    -2px 1px white,
     0px 4px white,
     4px 4px white;

  padding: 0.5rem;
}
ol > li.success > details > div {
  background: var(--background-success);
}
ol > li.failure > details > div {
  background: var(--background-failure);
}
ol > li.in-progress > details > div {
  background: var(--background-in-progress);
}
ol > li.cancelled > details > div {
  background: var(--background-cancelled);
}
ol > li > details > div > time {
  display: block;
}
